<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/style/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap" rel="stylesheet">
  <link rel="icon" href="./assets/img/logo/Valorant-Logo-shadow.png">
  <title>Valorant Clothes</title>
</head>

<body>
  <header>
    <nav>
      <ul class="navbar">
        <img src="{{ url_for('static', filename='assets/img/logo/Valorant-Logo-shadow.png') }}" alt="Imagen" class="logo">
        <li><a href="{{ url_for('index') }}">Inicio</a></li>
        <li><a href="{{ url_for('remeras') }}">Remeras</a></li>
        <li><a href="{{ url_for('buzos') }}">Buzos</a></li>
        <li><a href="{{ url_for('pantalones') }}">Pantalones</a></li>
        <li><a href="{{ url_for('accesorios') }}">Accesorios</a></li>
        <li><a href="{{ url_for('form') }}">Formulario</a></li>
        <li><i class="fa fa-shopping-cart"></i></li>
    </ul>
    </nav>
  </header>

  <main>
    <h3>ACCESORIOS</h3>
    <div class="card-container">
      <div class="card">
        <h3 class="titulo-card">Collar Valorant</h3>
        <img src="./assets/img/accesorios/collar-valorant.png" alt="Buzo valorant negro" class="img-card">
        <button class="button-card">Agregar al carrito</button>
      </div>

      <div class="card">
        <h3 class="titulo-card">LLavero Rango "oro"</h3>
        <img src="/assets/img/accesorios/llavero-oro.png" alt="Buzo valorant blanco" class="img-card">
        <button class="button-card">Agregar al carrito</button>
      </div>

      <div class="card">
        <h3 class="titulo-card">LLavero phantom</h3>
        <img src="/assets/img/accesorios/llavero-phantom.png" alt="Buzo yoru negro" class="img-card">
        <button class="button-card">Agregar al carrito</button>
      </div>

      <div class="card">
        <h3 class="titulo-card">LLavero platino</h3>
        <img src="/assets/img/accesorios/llavero-platino.png" alt="Buzo crema logo" class="img-card">
        <button class="button-card">Agregar al carrito</button>
      </div>

      <div class="card">
        <h3 class="titulo-card">llavero rango violeta</h3>
        <img src="/assets/img/accesorios/llavero-rango-violeta.png" alt="Buzo sage" class="img-card">
        <button class="button-card">Agregar al carrito</button>
      </div>

      <div class="card">
        <h3 class="titulo-card">Collar jett</h3>
        <img src="/assets/img/accesorios/collar-jett.png" alt="Buzo valorant master" class="img-card">
        <button class="button-card">Agregar al carrito</button>
      </div>

      <div class="card">
        <h3 class="titulo-card">llavero vandal</h3>
        <img src="/assets/img/accesorios/llavero-vandal.png" alt="Buzo valorant logo negro" class="img-card">
        <button class="button-card">Agregar al carrito</button>
      </div>

    </div>
  </main>

  <footer>
    <img src="./assets/img/logo/Valorant-Logo-white.png" alt="logo-footer">
    <p>© Valorant Clothes 2024. All rights reserved.</p>
    <div class="redes-sociales">
      <a href="https://www.youtube.com/@valorant" target="_blank"><i class="fa fa-youtube-play"></i></a>
      <a href="https://www.instagram.com/valorant" target="_blank"><i class="fa fa-instagram"></i></a>
      <a href="https://twitter.com/valorant" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="https://www.twitch.tv/valorant" target="_blank"><i class="fa fa-twitch"></i></a>
    </div>
  </footer>

</body>

</html>